@import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

#root {
  height: 100%;
  padding: 10px;
}

.switch-page {
  margin-bottom: 20px;
}

.pagination {
  margin-top: 50px;
}

.garage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-car {
  display: flex;
  align-items: center;
  gap: 5px;
}

.update-car {
  display: flex;
  align-items: center;
  gap: 5px;
}

.car {
  border-bottom: 2px dashed white;
}

.car__contrainer-control {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.flag-img {
  margin-left: auto;
  margin-right: 150px;
}

.list-cars {
  display: flex;
  flex-direction: column;
  gap: 30px;
}